<%- include('partials/header') -%>
  <%#-- Main --%>
    <div class="card shadow-sm">
      <img class="card-img-top" src="<%= recipe.photoUrl %>" alt="foto da receita" />
      <div class="card-body">
        <h5 class="card-title"><%= recipe.title %></h2>

        <ul>
          <li>
            <strong>Tipo de refeição:</strong>
            <%= recipe.mealType %>
          </li>
          <li>
            <strong>Quantidade de pessoas que o serve:</strong>
            <%= recipe.numberOfPeopleItServes %>
          </li>
          <li>
            <strong>Nível de dificuldade:</strong>
            <%= recipe.difficultyLevel %>
          </li>
        </ul>

        <h6 class="card-subtitle mb-2">Lista de ingredientes</h6>
        <p class="card-text" style="white-space: pre-wrap;"><%= recipe.listOfIngredients %></p>

        <h6 class="card-subtitle mb-2">Passo a passo para prepará-lo</h6>
        <p class="card-text" style="white-space: pre-wrap;"><%= recipe.preparationSteps %></p>

      </div>
    </div>
  <%#/-- Main --%>
<%- include('partials/footer') -%>
